* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

/* Cuerpo de HTML */
body  {
    font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    background: #8e9eab; 
    background: -webkit-linear-gradient(to right, #eef2f3, #8e9eab); 
    background: linear-gradient(to right, #eef2f3, #8e9eab); 
    width:  100%;
    background-image: url("./img/fondo.jpg");
    background-attachment: fixed;

}

/* Encabezado */
header  {
    width:  100%;
    min-height: 70px;
    background: #4ECDC4; 
    background: -webkit-linear-gradient(to right, hsla(211, 14%, 39%, 0.589), hsla(176, 56%, 55%, 0.5));  
    background: linear-gradient(to right, rgba(85, 98, 112, 0.562), rgba(78, 205, 197, 0.815)); 
    left: 0;
    top: 0;
    position: fixed;
    display: flex;
    justify-content: space-between;

}

.logo {

    display: flex;
    box-shadow: 0 0 0 4px rgb(0, 0, 0, .06);
    margin: 10px 10px;
}

.logo img{

    margin-right: 10px;
    
}

.main {

    padding-top: 11rem ;

}

/* redes sociales*/

nav {

    font-family: sans-serif;
    text-align: right;
    padding: 30px 50px 0 0;
   
}



nav  a {

    font-weight: 300;
    text-decoration: none;
    margin-right: 10px;
    transform: translate(-3px) scale(1.05);
}

nav  a:hover {
    
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0 .1);
    transform: translateY(-4%);
    filter: blur(2px);
 
}


/* contenedores */

.contenedor-empresa {
    
    background-color:rgba(125, 175, 207, 0.493) ;
    height: 100%;
    width: 90%;
	max-width: 2000px;
	margin: 10px auto;
 	column-count:2;
    padding: 30px;
        
}

.mv {

    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10 px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;


}

.importancia {

    background-color:hwb(167 82% 5% / 0.699) ;
    width: 90%;
	max-width: 2000px;
	margin: 10px auto;
    column-count:2;
    padding: 30px;

}

.tienda{ 
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    box-shadow: 0px 1px 10 px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;

}

/* producto efecto tarjeta */

.producto {

    background:rgba(23, 120, 169, 0.123);
    margin: 10px auto;
    width: 100%;
    display: flex;
    max-width: 1100px;

}

.basic {
    
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background:rgba(35, 85, 194, 0.493);
    box-shadow: 0px 1px 10 px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;

}

.basic:hover {

    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.6);
    transform: translateY(-4%);

}

.plus {
    
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background:rgba(32, 161, 216, 0.514);
    box-shadow: 0px 1px 10 px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;

}

.plus:hover {

    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.6);
    transform: translateY(-4%);

}

.tecnico {
    
    width: 100%;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background:rgba(35, 194, 181, 0.493);
    box-shadow: 0px 1px 10 px rgba(0, 0, 0, 0.2);
    cursor: default;
    transition: all 400ms ease;

}

.tecnico:hover {

    box-shadow: 8px 8px 30px rgba(0, 0, 0, 0.6);
    transform: translateY(-4%);

}


.titulo {

    color: #d88a54 ;
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;

}

.titulo-b {

    color:#FFFFFF ;
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;

}

.titulo-p {

    color:#dddf92;
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;

}

.titulo-t {

    color:#125460 ;
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;

}


h1 {
    
    font-family: "Consolas", monospace;
    font-size: 50px;
    color:black;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    width: 100%;
    box-shadow: 0 0 0 4px rgb(0, 0, 0, .06);
    margin: 10px 10px;
     
}


p {

    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;

}

.frase {

    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 12px;

}

ul{

    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
    list-style-position: inside;
    list-style-type: square;

}

.planes{

    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    padding: 10px;
    list-style-type: circle;
    color:#120907;


}

.valor {
    
    background-color:hwb(167 82% 5% / 0.699) ;
    font-family: Trebuchet MS;
    font-size: 25px;
    color: #7a7672;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-direction: column;
    display: flex;
    width: 80%;
    border-radius: 20px
    
}


.basic{

    column-count:1;
    column-gap:20px;

}


/* Formulario */

.cont {
    display: flex;
    justify-content:right;
    
}

.contacto {

    background-color:  rgba(46, 134, 193, 0.507)  ;
    width: 80%;
	max-width: 400px;
	margin: 30px ;
	box-shadow: 0 0 10px rgba(0,0,0,.1);
    box-sizing: border-box;
    padding: 10px 20px;
    border-radius: 20px;
     
}


input, textarea, button {

    width: 100%;
    margin-bottom: 3px;
    padding: 7px;
    box-sizing: border-box;
    font-size: 12px;
    font-family:inherit;
    border-radius: 20px;
  
}

textarea{

    min-height: 100px;
    max-height: 200px;
    max-width: 100%;

}

button {

    background-color:hwb(167 82% 5% / 0.699) ;
    border: none;
    padding: 10px;
    font-family: sans-serif;
    font-size: 20px;
    color: #7a7672;

}

button:hover{

cursor: pointer;

}

.tituloc {

    color:#FFFFFF ;
    font-size: 35px;
    text-align: center;
    margin-bottom: 15px;

}

.contacc {

    font-size: 15px;

}


/* presentacion*/

.presentacion {

    
    display: flex;
    width: 55%;
    margin: 30px;
    border-radius: 10px;
    overflow: hidden;
    cursor: default;
    transition: all 400ms ease;
    padding: 0 20px;
    height: 90%;

}

.targeta-presentacion {

    display: flex;
    width: 600px;
    height: auto;
    background: rgba(255, 255, 255, 0.432);
    border-radius: 10px;
    box-shadow:1px 1px 4px 2px rgb(0, 0, 0 .2);

}

.header-presentacion {

    border-right: 1px solid #dddf92;
}

.desc-presentacion {
    position: fixed;
    background: rgba(78, 205, 197, 0.637);

}

.cont-presentacion {
    text-align: left;
    font-size: 15px;
    margin-bottom: 2px;
    
}

.header-presentacion, .desc-presentacion {

    padding: 30px;
    text-align: center;


}

.header-presentacion a {
    
    display: block;

}

.header-presentacion img {
    
    border-radius: 50%;
    box-shadow: 0 0 0 4px rgb(0, 0, 0, .06);
    margin: 20px 30px;
    transition: .2s;
    
}

.header-presentacion a:hover img{

    box-shadow: 0 0 0 6px rgb(0, 0, 0, .1);
}


.header-presentacion h2{

    color: #d88a54 ;
    
}

.header-presentacion h4{

    margin-bottom: 2px;
}

.desc-presentacion {
    position: relative;

}

.desc-presentacion p {

    margin: 20px 30px;


}

.desc-presentacion .social-presentacion{

    margin-top: 30px;

}

.desc-presentacion .social-presentacion a{

    display: inline-block;
    padding: 0 1px;
    
    
}

.desc-presentacion img {
    
    box-shadow: 0 0 0 4px rgb(0, 0, 0, .06);
    margin: 10px 10px;
        
}

.desc-presentacion ul {
    
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 16px;
    list-style-position: inside;
    list-style-type: square;
    text-align: left;
  
        
}

section  {
    background-color: ghostwhite;

}


footer  {
    background: #4ECDC4; 
    background: -webkit-linear-gradient(to right, #556270, #4ECDC4);  
    background: linear-gradient(to right, #556270, #4ECDC4); 
    text-align: center;
    
}

/* Reponsive*/

@media screen and (-width: 800px) and (max-width: 1023px){
 

.main {

    padding-top: 09rem ;

}

/* redes sociales*/

nav {

    text-align: right;
    padding: 2px 2px 0 0;
   
}


nav  a {

    font-weight: 50;
    margin-right: 6px;
    transform: translate(-3px) scale(1.05);
}

/* contenedores */

.contenedor-empresa {
    
    display:block;
    width: 95%;
    column-count:1;
    padding: 15px;
      
}


.importancia {
    display:block;
    width: 95%;
    column-count:1;
    padding: 15px;
}


/* producto efecto tarjeta */

.producto {
    display:block;
    width: 95%;
    column-count:1;
    padding: 50px;
}


.titulo {

    color: #d88a54 ;
    font-size: 25px;


}

.titulo-b {

    color:#FFFFFF ;
    font-size: 30px;


}

.titulo-p {

    color:#dddf92;
    font-size: 30px;


}

.titulo-t {

    color:#125460 ;
    font-size: 30px;

}


h1 {
 
    font-size: 30px;

}


p {
    font-size: 16px;
}


ul{
    font-size: 16px;
}

.planes{

    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 14px;

}

.valor {
    
    background-color:hwb(167 82% 5% / 0.699) ;
    font-family: Trebuchet MS;
    font-size: 20px;
    width: 50%;
    
}


/* Formulario */

.cont {
    display: flex;
    justify-content:center;
    display:block;
    width: 95%;
    padding: 45px;
    
    
}

.contacto {

	max-width: 300px;
	margin: 12px ;
    display:block;
    width: 60%;
    column-count:1;
    padding: 5px;
    cursor: default;
     
}


input, textarea, button {

    width: 100%;
    margin-bottom: 2px;
    padding: 3px;
    font-size: 12px;

  
}


button {

    padding: 5px;

}


.tituloc {

    color:#FFFFFF ;
    font-size: 25px;

}

.contacc {

    font-size: 13px;

}


/* presentacion*/

.presentacion {

    
    display:flexbox;
    width: 110%;
    margin: 1px;
    border-radius: 1px;
    height: 10%;


}

.targeta-presentacion {
    
    display:flexbox;
    width: 100px;

}


.header-presentacion, .desc-presentacion {

    padding: 3px;
    text-align: center;

}


.header-presentacion h4{

    margin-bottom: 1px;
}


.desc-presentacion ul {
    
    font-size: 14px;
         
}


    
    }



/* Reponsive*/

@media screen and (max-width: 800px){
 

    .main {
    
        padding-top: 12rem ;
    
    }
    
    /* redes sociales*/
    
    nav {
    
        text-align: right;
        padding: 2px 2px 0 0;
       
    }
    
    
    nav  a {
    
        font-weight: 50;
        margin-right: 6px;
        transform: translate(-3px) scale(1.05);
    }
    
    /* contenedores */
    
    .contenedor-empresa {
        
        display:block;
        width: 95%;
        column-count:1;
        padding: 15px;
          
    }
    
    
    .importancia {
        display:block;
        width: 95%;
        column-count:1;
        padding: 15px;
    }
    
    
    /* producto efecto tarjeta */
    
    .producto {
        display:block;
        width: 95%;
        column-count:1;
        padding: 50px;
    }
    
    
    .titulo {
    
        color: #d88a54 ;
        font-size: 25px;
    
    
    }
    
    .titulo-b {
    
        color:#FFFFFF ;
        font-size: 30px;
    
    
    }
    
    .titulo-p {
    
        color:#dddf92;
        font-size: 30px;
    
    
    }
    
    .titulo-t {
    
        color:#125460 ;
        font-size: 30px;
    
    }
    
    
    h1 {
     
        font-size: 30px;
    
    }
    
    
    p {
        font-size: 16px;
    }
    
    
    ul{
        font-size: 16px;
    }
    
    .planes{
    
        font-family:Georgia, 'Times New Roman', Times, serif;
        font-size: 14px;
    
    }
    
    .valor {
        
        background-color:hwb(167 82% 5% / 0.699) ;
        font-family: Trebuchet MS;
        font-size: 20px;
        width: 60%;
        
    }
    
    
    /* Formulario */
    
    .cont {
        display: flex;
        justify-content:center;
        display:block;
        width: 95%;
        padding: 45px;
        
        
    }
    
    .contacto {
    
        max-width: 300px;
        margin: 12px ;
        display:block;
        width: 80%;
        column-count:1;
        padding: 5px;
        cursor: default;
         
    }
    
    
    input, textarea, button {
    
        width: 100%;
        margin-bottom: 2px;
        padding: 3px;
        font-size: 12px;
    
      
    }
    
    
    button {
    
        padding: 5px;
    
    }
    
    
    .tituloc {
    
        color:#FFFFFF ;
        font-size: 25px;
    
    }
    
    .contacc {
    
        font-size: 13px;
    
    }
    
    
    /* presentacion*/
    
    .presentacion {

        display:none;
    
    
    }
    
      
    .header-presentacion, .desc-presentacion {
    
        padding: 3px;
        text-align: center;
    
    }
    
    
    .header-presentacion h4{
    
        margin-bottom: 1px;
    }
    
    
    .desc-presentacion ul {
        
        font-size: 14px;
             
    }
    
    
        
        }